

/**************************** Header ****************************/

.header {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: 60px;
    margin-left: 0px;	
}

.header-wrapper {
    margin-right: 50px;
    margin-left: 50px;	
}

.brandName {
    font-family: BrushScriptMT;
    font-size: 48px;
    color: #F6A623;
    letter-spacing: -1.16px;
    z-index: 1;
    position: absolute;
    top: -7px;	
}

.navbar-brand {
	/* Sign Up: */
    font-family: ArialMT;
    font-size: 20px;
    color: #4f4a4a;
    letter-spacing: -0.87px;
    z-index: 1;
    position: relative;
    top: 7px;
}

.left-navbar {
	left: 19px;
}


/**************************** BODY ****************************/

.body-container {
    margin-top: 4em;
}

.textHeader-paragraph {
	font-family: inherit !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #5e5b5b !important;
    font-weight: 300 !important;
}

.textHeader {
    color: #F6A623;
    font-family: inherit !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    font-weight: 500;
}

.search-container {
    height: 90px;
    background: #FFFFFF;
    border: 1px solid rgba(165, 165, 165, 0.41);
    border-radius: 5px;
    box-shadow: rgb(220, 224, 224) 0px 1px 3px 0px;
    margin: 75px 0;
    width: 80%;
}

.input-wrapper {
    padding: 15px 16px 8px;
    border-right: 1px solid rgba(165, 165, 165, 0.41);
    height: 90px;
}

.left-input-wrapper {
    margin-top: 14px;
}

.search-label-right, .search-label-left {
	padding-bottom: 0px;
    z-index: 1;
    position: relative;
}

.search-label-right {
	left: 20px;
}

.search-label-left {
	left: 2px;
}

.search-input-right, .search-input-left {
    z-index: 1;
    position: relative;
    padding: 5px;
    padding-right: 10em;
    border-style: hidden;
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 22px;
}

.search-input-right {
	left: 29px;
}

.search-input-left {
	left: 12px;
}

.search-button {
    z-index: 1;
    position: absolute;
    right: -7em;
    top: 4px;
    background: #f6a623;
    border: #f6a623;
}

/***************** Card Events *****************/

.event-img {
	height: 25em;
	width: 16em;
}
svg {
	fill: rgb(118, 118, 118);
    height: 24px;
    width: 24px;
}

.nextArrow-button {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    display: block !important;
  /*  float: right;
    z-index: 1;
    position: absolute;
    right: 150px;
    top: 46em;*/
}

.category-title {
	/* Food & Drink: */
    font-family: Arial;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: -0.87px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.event-title {
	/* Flashmob & burning m: */
    font-size: 18px;
    /*color: rgba(72, 72, 72, 0.8);*/
    letter-spacing: -0.87px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.category-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
}

.event-header-wrapper {
    padding: 10px;
    color: rgb(250,250,250);
    background-color: rgba(0, 0, 0, 0.4);
}


/************************** EVENT-DETAILS PAGE **************************/



.search-detailPage {
    display: flex;
    justify-content: space-between;
}

.brandName-eventDetail {
    margin-left: 110px;
}

.search-form-container {
    margin-right: 95px;
}

.search-wrapper {
    padding-top: 10px;
    margin-right: 10px;
}

.search-input {
    margin-right: 10px;
    padding-right: 10px;
}

.search-button-detail, .event-button {
    background: #f6a623;
    border: #f6a623;
}

.search-button-detail {
    padding-bottom: 5px;
    padding-top: 5px;
}

.eventDetail-container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.event-info {
    padding-top: 0px;
}

.tips-content {
    border-top: 1px solid gray;
    padding-top: 30px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-detailPage {

}

.eventDetail-rating {
    margin: auto;
}

.content-section {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.anonymous-icon {
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.info-list {
    list-style: none;
}

.line2-address {
    margin-left: 81px;
}

.info-list-category {
    color: #F6A623;
    font-weight: bold;
}

#address, #website{
    margin-right: 15px;
}

#phone {
    margin-right: 30px;
}

.content-text {

}

.map-container {
    height: 450px;
    margin-top: 70px;
}

.eventDetail-rating {

}



/****Animation*******/

body {
    animation: imageAnimationFadeInBody 10s cubic-bezier(1,-0.3, 0, 1.33) 1;
}

@keyframes imageAnimationFadeInBody { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  55% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}


@keyframes imageAnimationFadeIn { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes imageAnimationFadeOut { 
  0% { 
    opacity: 1; 
    animation-timing-function: ease-out;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
}

/*********Media Queries**********/


@media screen and (min-width: 801px) and (max-width: 1100px) {
    body{ 
        border: 5px solid blue;
     }
    .event-img {
        height: 21em;
        width: 12em;
    }
    .event-title {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    body{ 
        border: 5px solid red;
     }
    .category-wrapper {
        display: block;
    }
    .event-img {
        height: 15em;
        width: 10em;
    }

    .category-title {
        font-size: 18px;
    }

    .event-title {
        font-size: 14px;
    }

/*    .nextArrow-button {
    float: right;
    z-index: 1;
    position: absolute;
    right: 150px;
    top: 46em;
    }*/
}








