

/**************************** Header ****************************/

.header {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: 60px;
    margin-left: 0px;	
}

.header-wrapper {
    margin-right: 50px;
    margin-left: 50px;	
}

.brandName {
    font-family: BrushScriptMT;
    font-size: 48px;
    color: #F6A623;
    letter-spacing: -1.16px;
    z-index: 1;
    position: absolute;
    top: -7px;	
}

.navbar-brand {
	/* Sign Up: */
    font-family: ArialMT;
    font-size: 20px;
    color: #4f4a4a;
    letter-spacing: -0.87px;
    z-index: 1;
    position: relative;
    top: 7px;
}

.left-navbar {
	left: 19px;
}


/**************************** BODY ****************************/

.body-container {
    margin-top: 4em;
}

.textHeader-paragraph {
	font-family: inherit !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #5e5b5b !important;
    font-weight: 300 !important;
}

.textHeader {
    color: #F6A623;
    font-family: inherit !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    font-weight: 500;
}

.search-container {
    height: 90px;
    background: #FFFFFF;
    border: 1px solid rgba(165, 165, 165, 0.41);
    border-radius: 5px;
    box-shadow: rgb(220, 224, 224) 0px 1px 3px 0px;
    margin: 75px 0;
    width: 80%;
}

.input-wrapper {
    padding: 15px 16px 8px;
    border-right: 1px solid rgba(165, 165, 165, 0.41);
    height: 90px;
}

.left-input-wrapper {
    margin-top: 14px;
}

.search-label-right, .search-label-left {
	padding-bottom: 0px;
    z-index: 1;
    position: relative;
}

.search-label-right {
	left: 20px;
}

.search-label-left {
	left: 2px;
}

.search-input-right, .search-input-left {
    z-index: 1;
    position: relative;
    padding: 5px;
    padding-right: 10em;
    border-style: hidden;
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 22px;
}

.search-input-right {
	left: 29px;
}

.search-input-left {
	left: 12px;
}

.search-button {
    z-index: 1;
    position: absolute;
    right: -7em;
    top: 4px;
    background: #f6a623;
    border: #f6a623;
}

/***************** Card Events *****************/

.event-img {
	height: 25em;
	width: 16em;
}
svg {
	fill: rgb(118, 118, 118);
    height: 24px;
    width: 24px;
}

.nextArrow-button {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    display: block !important;
    float: right;
    z-index: 1;
    position: absolute;
    right: 150px;
    top: 46em;
}

.category-title {
	/* Food & Drink: */
    font-family: Arial;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: -0.87px;
    margin-bottom: 20px;
}

.event-title {
	/* Flashmob & burning m: */
    font-size: 18px;
    color: rgba(72, 72, 72, 0.8);
    letter-spacing: -0.87px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
